
#titte {
  justify-content: center;
}

h1 {
  text-align: center;
  color: rgb(212, 25, 25);
}

#color-palette {
  display: flex;
  border: 1px black solid;
  justify-content: space-evenly;
  height: 75px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.color {
  align-items: center;
  border: 1px black solid;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  padding: 20px;
  margin: 5px;
}

.selected {
  align-items: center;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  padding: 20px;
  margin: 5px;
}



#pixel-board {

  justify-content: center;
  margin: 0;
  width: 300px;
  border: 1px black solid;
}

.pixel {
  display: inline-block;
  margin: 0;
  padding: 5px;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px black solid;
}

#button-random-color
